<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room {{ room_id }}</title>
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
<script>
    name = {{name}}
    room_id = {{room_id}}
    console.log(name, room_id)
    var socket = io();

    document.getElementById('join-form').onsubmit = function(e) {
        e.preventDefault();
        var username = document.getElementById('username').value;
        var room_id = document.getElementById('room_id').value;

        socket.emit('join', {username: username, room_id: room_id});
    };

    socket.on('update', function(msg) {
        var messages = document.getElementById('messages');
        var message = document.createElement('p');
        message.textContent = msg;
        messages.appendChild(message);
    });

    socket.on('role', function(msg) {
        alert(msg);
    });

    socket.on('error', function(msg) {
        alert(msg);
    });
</script>
<body>
    <h1>Room {{ room_id }}</h1>
    
</body>
</html>
