<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room {{ room_id }}</title>
</head>
<body>
    <h1>Select roles</h1>
    <form action="/create_room" method="POST">
        <input type="text" id="roles" name="roles" hidden>
        <input type="text" id="new_room_id" name="new_room_id" hidden value="{{room_id}}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        {% for role in roles %}
        <input type="checkbox" id="{{ role }}" name="{{ role }}">
        <label for="{{ role }}">{{ role[1:] }}</label>
        <br>
        {% endfor %}
        <button type="submit">Join Room</button>
    </form>
</body>
</html>
